<div class="account-content">
  <div class="login-wrapper">
    <div class="login-content">
      <div class="login-userset">
        <div class="login-logo logo-normal">
          <img src="assets/img/logo.png" alt="img" />
        </div>
        <a class="login-logo logo-white">
          <img src="assets/img/logo-white.png" alt="" />
        </a>

        <div class="text-center c-black">
          <h2 class="mt-1 mb-5 pb-1 header-text c-black">
            {{ "Contact With Us!" | translate }}
          </h2>
          <p class="text-msg c-black" style="color: #667085">
            {{ "Please contact next driven support team on" | translate }}
            <span style="color: #0086c9"> 343854</span>
          </p>
          <p class="text-msg c-black" style="color: #667085">
            {{ "to get your license key" | translate }}
          </p>
        </div>
        <div class="container">
          <form [formGroup]="license_Form" novalidate>
            <div class="form-group">
              <label class="label-key mb-3 c-black" style="color: #667085">{{
                "license key" | translate
              }}</label>
              <input
                style="margin-top: -15px"
                type="text"
                class="form-control input-value"
                type="text"
                name="License_key"
                formControlName="License_key"
                required
                placeholder="{{ 'License key' | translate }}"
              />
              <small
                class="text-danger"
                *ngIf="license_Form.get('License_key')?.errors?.['required'] && license_Form.get('License_key')?.touched "
              >
                {{ "this field is required" | translate }}
              </small>
            </div>
            <div class="pt-5 mb-5">
              <div class="form-login">
                <a  class="btn btn-login"   (click)="Submit()"
                #verfiyBtn
                >{{ "Submit" | translate }}</a>
              </div>


            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="login-img">
      <img src="assets/img/login.jpg" alt="img" />
    </div>
  </div>
</div>
