<div class="page-header">
    <div class="page-title">
      <div class="page-title">
        <h4>{{ "Edit Setting" | translate }}</h4>
      </div>
    </div>
  </div>
  <!-- /add -->
  <div class="card">
    <div class="card-body">
      <form [formGroup]="Form">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>{{ "Start Hour" | translate }}</label>
              <input type="text" name="startHour" formControlName="startHour" />
            </div>
          </div>
  
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>{{ "End Hour" | translate }}</label>
              <input type="text" name="endHour" formControlName="endHour" />
            </div>
          </div>
  
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="custom-toggle">
              <input
                type="checkbox"
                name="isMidnightShift"
                formControlName="isMidnightShift"
              />
              <label class="custom-label" for="flexSwitchCheckDefault">{{
                "Midnight Shift" | translate
              }}</label>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="custom-toggle">
              <input
                type="checkbox"
                name="isShowMenu"
                formControlName="isShowMenu"
              />
              <label class="custom-label" for="flexSwitchCheckDefault">{{
                "Show Menu" | translate
              }}</label>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>{{ "Printer Layout" | translate }}</label>
              <input
                type="text"
                name="printerLayout"
                formControlName="printerLayout"
              />
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="custom-toggle">
              <input
                type="checkbox"
                name="isDefaultBarcode"
                formControlName="isDefaultBarcode"
              />
              <label class="custom-label" for="flexSwitchCheckDefault">{{
                "Default Barcode" | translate
              }}</label>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="custom-toggle">
              <input
                type="checkbox"
                name="isServerConnection"
                formControlName="isServerConnection"
              />
              <label class="custom-label" for="flexSwitchCheckDefault">{{
                "Server Connection" | translate
              }}</label>
  
              <p class="custom-label2">
                {{ "Uncheck offline Localhost." | translate }}
              </p>
            </div>
          </div>
  
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>
                {{ "Total No of Digits" | translate }}
              </label>
              <input
                type="text"
                name="totalNoOfDigits"
                formControlName="totalNoOfDigits"
              />
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>{{ "PLU Starting Position" | translate }}</label>
              <input
                type="text"
                name="pluStartingPosition"
                formControlName="pluStartingPosition"
              />
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>{{ "Price Starting Position" | translate }}</label>
              <input
                type="text"
                name="priceStartingPosition"
                formControlName="priceStartingPosition"
              />
            </div>
          </div>
  
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>{{ "Prefix" | translate }}</label>
              <input type="text" name="prefix" formControlName="prefix" />
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>{{ "No of Digits in PLU" | translate }}</label>
              <input
                type="text"
                name="noOfDigitsInPLU"
                formControlName="noOfDigitsInPLU"
              />
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label> {{ "No of Digits in Price" | translate }}</label>
              <input
                type="text"
                name="noOfDigitsInPrice"
                formControlName="noOfDigitsInPrice"
              />
            </div>
          </div>
  
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>
                {{ "Top Inch" | translate }}
              </label>
              <input type="text" name="topInch" formControlName="topInch" />
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <label>
                {{ "Bottom Inch" | translate }}
              </label>
              <input type="text" name="bottomInch" formControlName="bottomInch" />
            </div>
          </div>
  
          <div class="col-lg-12">
            <button
              [disabled]="Form.invalid"
              (click)="submit()"
              class="btn btn-submit me-2"
            >
              {{ "Submit" | translate }}
            </button>
            <a [routerLink]="routes.setting" class="btn btn-cancel">{{
              "Cancel" | translate
            }}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /add -->
  
