<div class="page-header">
  <div class="page-title">
    <h4>{{"Store List"|translate}}</h4>
    <h6>{{"Manage your Stores"|translate}}</h6>
  </div>
  <div class="page-btn">
    <a [routerLink]="routes.addStore" class="btn btn-added"
      ><img src="assets/img/icons/plus.svg" class="me-2" alt="img" />{{"Add
      Store"|translate}}</a
    >
  </div>
</div>

<!-- /product list -->
<div class="card">
  <div class="card-body">
    <div class="table-top">
      <div class="search-set">
        <!-- <div class="search-path">
          <a
            (click)="showFilter = !showFilter"
            [class.setclose]="showFilter == true"
            class="btn btn-filter"
            id="filter_search"
          >
            <img
              *ngIf="showFilter == false"
              src="assets/img/icons/filter.svg"
              alt="img"
            />
            <span
              ><img
                *ngIf="showFilter == true"
                src="assets/img/icons/filter.svg"
                alt="img"
            /></span>
          </a>
        </div> -->
        <div class="search-input">
          <a class="btn btn-searchset"
            ><img src="assets/img/icons/search-white.svg" alt="img"
          /></a>
          <div class="dataTables_filter">
            <label>
              <input
                [(ngModel)]="searchDataValue"
                (ngModelChange)="searchData(searchDataValue)"
                type="search"
                class="form-control"
                placeholder="Search..."
              />
            </label>
          </div>
        </div>
      </div>
      <div class="wordset">
        <ul>
          <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"
              ><img src="assets/img/icons/pdf.svg" alt="img"
            /></a>
          </li>
          <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel" (click)="exportToExcel()"
              ><img src="assets/img/icons/excel.svg" alt="img"
            /></a>
          </li>
          <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"
              ><img src="assets/img/icons/printer.svg" alt="img"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /Filter -->
    <div
      class="card mb-0 border-0"
      [ngClass]="{
        'show-sub-menu': showFilter == true,
        'hide-sub-menu': showFilter == false
      }"
    >
    </div>
    <!-- /Filter -->
    <div class="table-responsive">
      <table
        *ngIf="filteredData?.length > 0"
        mat-table
        [dataSource]="filteredData"
        (matSortChange)="sortData($event)"
        matSort
        matSortActive="Sno"
        matSortDirection="asc"
        matSortDisableClear
        class="table datanew"
      >
      <!--  -->
      
      <ng-container *ngFor="let column of columns">
        <ng-container
          *ngIf="column.type === 'text'"
          [matColumnDef]="column.property"
        >
          <th *matHeaderCellDef class="uppercase" mat-header-cell>
            {{ column.label | translate }}
          </th>
          <td *matCellDef="let row; let i = index" mat-cell class="p-relative">
            {{ row[column.property] == null ? "N/A" : row[column.property] }}
           
          </td>
        </ng-container>
      </ng-container>
      <ng-container *ngFor="let column of columns">
        <ng-container
          *ngIf="column.type === 'array4'"
          [matColumnDef]="column.property"
        >
          <th *matHeaderCellDef class="uppercase" mat-header-cell>
            {{ column.label | translate }}
          </th>
          <td *matCellDef="let row" mat-cell>
            {{ row[column.property] == null ? "N/A" : row[column.property] }}
          </td>
        </ng-container>
      </ng-container>
      <ng-container *ngFor="let column of columns">
        <ng-container
          *ngIf="column.type === 'array2'"
          [matColumnDef]="column.property"
        >
          <th *matHeaderCellDef class="uppercase" mat-header-cell>
            {{ column.label | translate }}
          </th>
          <td *matCellDef="let row" mat-cell>
            {{ row[column.property] == null ? "N/A" : row[column.property] }}
          </td>
        </ng-container>
      </ng-container>


      <ng-container *ngFor="let column of columns">
        <ng-container
          *ngIf="column.type === 'array3'"
          [matColumnDef]="column.property"
        >
          <th *matHeaderCellDef class="uppercase" mat-header-cell>
            {{ column.label | translate }}
          </th>
          <td *matCellDef="let row" mat-cell>
            <div style="display: flex; flex-direction: column">
              <div
              [ngClass]="[
              row[column.property] == true ? 'bg-lightgreen' : 'bg-lightred'
            ]"
            class="badges"
              >
                {{
                  row[column.property] == true
                    ? ("Active" | translate)
                    : ("Inactive" | translate)
                }}
              </div>
            </div>
          </td>
        </ng-container>
      </ng-container>

      <!-- date columns -->

      <ng-container *ngFor="let column of columns">
        <ng-container
          *ngIf="column.type === 'date'"
          [matColumnDef]="column.property"
        >
          <th *matHeaderCellDef class="uppercase" mat-header-cell>
            {{ column.label | translate }}
          </th>
          <td *matCellDef="let row" mat-cell>
            {{ row.createdAt | date : "longDate" }}
          </td>
        </ng-container>
      </ng-container>


        <!-- Symbol Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>{{ "Actions" | translate }}</th>
          <td mat-cell *matCellDef="let row">
            <a class="me-3" (click)="update(row)">
              <img src="assets/img/icons/edit.svg" alt="img" />
            </a>
            <a class="me-3 confirm-text" (click)="delete(row)">
              <img src="assets/img/icons/delete.svg" alt="img" />
            </a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: visibleColumns"></tr>
        <tr *ngIf="tableData.length === 0">
          <td colspan="12">
            <h5 class="no-record">No matching records found</h5>
          </td>
        </tr>
      </table>
      <custom-pagination></custom-pagination>
    </div>
  </div>
</div>
<!-- /product list -->