
	<div class="page-header">
		<div class="page-title">
			<h4>{{"item Add"|translate}}</h4>
			<h6>{{"Create new item"|translate}}</h6>
		</div>
	</div>
	<!-- /add -->
	<div class="card">
		<div class="card-body">
			<form [formGroup]="Form">
				<div class="row">
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>{{ "Item Name" | translate }} *</label>
							<input type="text"
							name="ItemName"
							formControlName="ItemName"
							required
							>
							 <div *ngIf="Form.get('ItemName')?.touched && Form.get('ItemName')?.errors">
								<div *ngIf="Form.get('ItemName')?.errors?.['required']">
								  
								   <span class="text-danger"> {{ "this field is required" | translate }} </span>
								  
								</div>
								<div *ngIf="Form.get('ItemName')?.errors?.['minlength']">
								  <span class="text-danger">
									{{ "minlength is 3 character" | translate }}
								  </span>
									
								  
								</div>
								<div *ngIf="Form.get('ItemName')?.errors?.['maxlength']">
								  <span class="text-danger">
									{{ "maxlength is 50 character" | translate }}
								  </span>
								</div>
								<div *ngIf="Form.get('ItemName')?.errors?.['pattern']">
								  <span class="text-danger">
									{{ "Enter characters only" | translate }}
								  </span>
								
							  </div> 
						</div>
					   </div>
					</div>
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>{{ "UOM" | translate }} *</label>
							<select
							class="form-select custom-select"
							id="selectUOM"
							formControlName="UOM"
						  >
							<option
							  *ngFor="let item of measurementUnits"
							  [value]="item.id"
							  class="custom-option"
							>
							  {{ item.name }}
							</option>
						  </select>
							<div *ngIf="Form.get('UOM')?.touched && Form.get('UOM')?.errors">
								<div *ngIf="Form.get('UOM')?.errors?.['required']">
								  <span class="text-danger" >
									{{ "this field is required" | translate }}
								  </span>
								</div>
							  </div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>{{ "Category" | translate }}*</label>
							<select
							class="form-select custom-select"
							id="selectCategory"
							formControlName="Category"
						  >
							<option
							  *ngFor="let item of categories"
							  [value]="item.parentCategoryID"
							  class="custom-option"
							>
							  {{ item.name }}
							</option>
						  </select>
							<div *ngIf="Form.get('Category')?.touched && Form.get('Category')?.errors">
								<div *ngIf="Form.get('Category')?.errors?.['required']">
								  <span class="text-danger" >
									{{ "this field is required" | translate }}
								  </span>
								</div>
							  </div>
						</div>
					</div>
					
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>{{ "Price" | translate }} *
							
							</label>
							<input type="text"
							name="Price"
                          formControlName="Price">
						  <div *ngIf="Form.get('Price')?.touched && Form.get('Price')?.errors">
							<div *ngIf="Form.get('Price')?.errors?.['required']">
							  <span class="text-danger" >
								{{ "this field is required" | translate }}
							  </span>
							</div>
						  </div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>{{ "Cost" | translate }} *</label>
							<input type="text"
							name="Cost"
							formControlName="Cost">
							<div *ngIf="Form.get('Cost')?.touched && Form.get('Cost')?.errors">
								<div *ngIf="Form.get('Cost')?.errors?.['required']">
								  <span class="text-danger" >
									{{ "this field is required" | translate }}
								  </span>
								</div>
							  </div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>{{ "Currency" | translate }}*</label>
							<select
							class="form-select custom-select"
							id="selectCurrency"
							formControlName="Currency"
						  >
							<option
							  *ngFor="let item of currencies"
							  [value]="item.id"
							  class="custom-option"
							>
							  {{ item.code }}
							</option>
						  </select>
							<div *ngIf="Form.get('Currency')?.touched && Form.get('Currency')?.errors">
								<div *ngIf="Form.get('Currency')?.errors?.['required']">
								<span class="text-danger">
									{{ "this field is required" | translate }}
								</span>
								</div>
                           </div>
					</div>
				</div> 
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>{{ "Barcode No" | translate }} *</label>
							<input type="text"
							name="Barcode"
                             formControlName="Barcode">
							 <div *ngIf="Form.get('Barcode')?.touched && Form.get('Barcode')?.errors">
								<div *ngIf="Form.get('Barcode')?.errors?.['required']">
								<span class="text-danger">
									{{ "this field is required" | translate }}
								</span>
								</div>
                           </div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>{{ "Reward Point" | translate }} *</label>
							<input type="text"
							name="RewardPoints"
							formControlName="RewardPoints">
							 <div *ngIf="Form.get('RewardPoints')?.touched && Form.get('RewardPoints')?.errors">
								<div *ngIf="Form.get('RewardPoints')?.errors?.['required']">
								<span class="text-danger">
									{{ "this field is required" | translate }}
								</span>
								</div>
                           </div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>{{ "Sorting Number" | translate }} *</label>
							<input type="text"
							name="sortingNumber"
                           formControlName="sortingNumber">
							 <div *ngIf="Form.get('sortingNumber')?.touched && Form.get('sortingNumber')?.errors">
								<div *ngIf="Form.get('sortingNumber')?.errors?.['required']">
								<span class="text-danger">
									{{ "this field is required" | translate }}
								</span>
								</div>
                           </div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>{{ "Stocks On Hand" | translate }} *</label>
							<input type="text"
							name="StocksOnHand"
							formControlName="StocksOnHand">
							 <div *ngIf="Form.get('StocksOnHand')?.touched && Form.get('StocksOnHand')?.errors">
								<div *ngIf="Form.get('StocksOnHand')?.errors?.['required']">
								<span class="text-danger">
									{{ "this field is required" | translate }}
								</span>
								</div>
                           </div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="form-group">
							<label>{{ "Minimum Stocks" | translate }} *</label>
							<input type="text"
							name="MinimumStocks"
							formControlName="MinimumStocks">
							 <div *ngIf="Form.get('MinimumStocks')?.touched && Form.get('MinimumStocks')?.errors">
								<div *ngIf="Form.get('MinimumStocks')?.errors?.['required']">
								<span class="text-danger">
									{{ "this field is required" | translate }}
								</span>
								</div>
                           </div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="form-group">
							<label>{{ "Description" | translate }} *</label>
							<textarea class="form-control"
							name="Description"
							formControlName="Description"></textarea>
							<div *ngIf="Form.get('Description')?.touched && Form.get('Description')?.errors">
								<div *ngIf="Form.get('Description')?.errors?.['required']">
								<span class="text-danger">
									{{ "this field is required" | translate }}
								</span>
								</div>
								<div *ngIf="Form.get('Description')?.errors?.['minlength']"></div>
									<span class="text-danger">
										{{ "minlength is 20 character" | translate }}
									</span> 
									 
									
								  </div>
                           </div>
						</div>
						<div class="col-lg-12 ">
							<div class="form-group">
								<p >{{ "Barcode Type" | translate }}</p>
								<div
								class="form-check form-check-inline"
								*ngFor="let item of barcodeTypes"
							  >
								<input
								  class="form-check-input"
								  type="radio"
								  [id]="item.id"
								  name="BarcodeType"
								  formControlName="BarcodeType"
								  [value]="item.id"
								  class="checkbox-field"
								/>
								<label class="form-check-label checkbox-label" [for]="item.id">{{
								  item.name
								}}</label>
							  </div>
							</div>
							
							 
						</div>
						<div class="col-lg-12 ">
							<div class="form-group">
								<p >{{ "Item Type" | translate }}</p>
								<div
								class="form-check form-check-inline"
								*ngFor="let item of itemTypes"
							  >
								<input
								  class="form-check-input"
								  type="radio"
								  [id]="item.id"
								  name="ItemTypeID"
								  formControlName="ItemTypeID"
								  [value]="item.id"
								  class="checkbox-field"
								/>
								
								<label class="form-check-label checkbox-label" [for]="item.id">{{
								  item.name
								}}</label>
							  </div>
							</div>
							
							 
						</div>
						
					
					
					<div class="col-lg-3 col-sm-6 col-12">
						
							<div class="custom-toggle">
								<input
								  
								  type="checkbox"
								  name="IsInMenue"
								  formControlName="IsInMenue"
								/>
								<label class="custom-label">{{ "Show menu" | translate }}</label>
							  </div>
						
					</div>
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="custom-toggle">
						  <input
							class="custom-checkboxprice"
							type="checkbox"
							name="IsInMenue"
							formControlName="IsInMenue"
						  />
						  <label class="custom-label">{{ "Show menu" | translate }}</label>
						</div>
					  </div>
					<div class="col-lg-3 col-sm-6 col-12">
						<div class="custom-toggle">
							<input
							  class="custom-checkboxprice"
							  type="checkbox"
							  name="IsStockAlertEnabled"
							  formControlName="IsStockAlertEnabled"
							/>
							<label class="custom-label" for="flexSwitchCheckDefault">{{
							  "Stocks Alert" | translate
							}}</label>
							<br />
						  </div>
					</div>
					<div class="col-lg-3 col-sm-6 col-12">
						
							<div class="custom-toggle">
								<input
								  class="custom-checkboxprice"
								  type="checkbox"
								  name="IsVATEnabled"
								  formControlName="IsVATEnabled"
								/>
								<label class="custom-label">{{ "VATable" | translate }}</label>
							  
						</div>
					</div>
					
					<div class="col-lg-12">
						<div class="form-group">
							<div class="image-upload">
								<input type="file"
								id="file-input"
								
								  #file
							   (change)="preview(file.files)"
							   accept="image/*">
								<div class="image-uploads">
									<img src="assets/img/icons/upload.svg" alt="img">
									<h4 *ngIf="imgName !== '' || imgName !== undefined">
										{{ imgName }}
									</h4>
									  <h4 *ngIf="imgName == '' || imgName == undefined">
										{{ "Add" | translate }}
										<span style="color: #667085">{{ "Or" | translate }}</span>
										{{ "Select" | translate }}
										<span style="color: #667085">{{
										  "Category Icon" | translate
										}}</span>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<button [disabled]="Form.invalid" class="btn btn-submit me-2" (click)="submit()">Submit</button>
						<a [routerLink]="routes.productList" class="btn btn-cancel">Cancel</a>
					</div>
				</div>
			</form>
			
		</div>
	</div>
	<!-- /add -->
